<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>addressBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
	<h1>Address Book</h1>
    <table class="table">
        <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Phone Number</td>
            <td>Address</td>
            <td>Email</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" contact : ${addressBook}">
            <td th:text="${contact.firstName}"></td>
            <td th:text="${contact.lastName}"></td>
            <td th:text="${contact.phoneNumber}"></td>
            <td th:text="${contact.address}"></td>
            <td th:text="${contact.email}"></td>
            <td><a th:href=" ${'/contact/edit/'+contact.id}">Edit</a></td>
            <td><a th:href=" ${'/contact/delete/'+contact.id}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    
	<a href='/newContact'><button>New Contact</button></a>

    <form action="#" th:action="@{/contact/search}" th:object="${searchForm}" method="get">
        <table>
            <tr>
                <td>Search Contact:</td>
                <td><input type="text" th:field="*{query}"/></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit search</button>
                </td>
            </tr>
        </table>
    </form>

    <div class = "row">
    	<a href='/addressBook'><button>My Address Book</button></a>
        <form action="#" th:action="@{/logout}" th:method="post">
            <input th:type="submit" th:value="logout" />
        </form>
    </div>
</div>
</body>
</html>